<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'unslider.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'portfolio' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
	<div class="container">
		<div class="row">
			<div class="menu col-xs-8">
				<ul>
					<li><%= link_to "Welcome", root_path %></li>
					<li><%= link_to "Portfolio", portfolio_path %></li>
					<li>Blog</li>
					<li>About</li>
					<li>Contact</li>
				</ul>
			</div>
			<div class="name col-xs-4">
				<h1>Ruby on Rails</h1>
			</div>
		</div>
	</div>
</div>

<%= yield %>

<div class="footer">
	<div class="container">
		<ul class="social_media">
			<li>Github</li>
			<li>LinkedIn</li>
			<li>Twitter</li>
		</ul>
		<p>&copy; 2015 Ruby on Rails</p>
	</div>
</div>
</body>
</html>
